/* CSS Variables */
:root {
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.main-container {
  height: 100%;
  overflow: scroll;
}

.left-side-nav {
  background-color: red;

  /* Removes ability to highlight header text */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.header-toggle-container {
  display: flex;
  justify-content: space-between;
}

/* TODO: Change to header-toggle ... */
.left-side-nav header {
  text-align: left;
  background-color: yellow;
  margin: 0;
  padding: 15px 0 15px 0;
}

.toggle {
  background-color: yellow;
  margin: auto 0;
  display: initial;
  cursor: pointer;
}

.nav-bar-items {
  display: none;
}

.toggle-show { display: block; }

.left-side-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-side-nav ul li {
  border-top: 2px solid;
}

.nav-link {
  text-decoration: none;
}

.main-doc {
  position: relative;
  background-color: blue;
  padding: 40px;
}

.main-doc section {
  background-color: yellow;
}

.section-container {
  padding-left: 20px;
}

.code-container {
  padding-left: 20px;
}

code{
    display:block;
    text-align: left;
    white-space: pre;
    line-height: 2;
    background-color:#f7f7f7;
    padding: 15px;
    margin: 15px;
    color: #f73859;
    border-radius:5px;
}


@media only screen and (min-width: 1024px) {

  .left-side-nav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }

  .header-toggle-container {
    display: block;
  }

  /* TODO: Change to header-toggle... */
  .left-side-nav header {
    text-align: center;
  }

  .toggle {
    display: none;
  }

  .nav-bar-items {
    display: block;
  }

  .main-doc {
    margin-left: 300px; /* Width of left-side-nav */
  }

}
