

html {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 120%;
}

#header {
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: white;
  z-index: 2; /* NOTE: for iframe */
  border-style: solid;
  border-width: 1px;
}

.header-container {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  padding: 0;
  align-items: center;
  height: 60px;

  /* Removes user from highlighting header text */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#company-logo {
  color: black;
  padding-left: 15px;
}

.nav-bar-items {
  display: flex;
  margin-left: auto;
}

.nav-bar-items ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0 15px 0 0;
}

.nav-bar-items ul li {
  font-size: 120%;
}

.nav-link {
  text-decoration: none;
  padding-left: 40px;
}

.nav-bar-toggle {
  padding-right: 15px;
  display: none;
}

.banner {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.banner::before {
  /* background: url("building-background1.jpg"); */
  background: linear-gradient(rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)),
  url("images/banner-background.jpg"); /* TODO: Switch into HTML */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: '';
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
}

.banner-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 200%;
  color: white;
}

.section-one-background {
  background-color: white;
}

.section-one,
.section-three {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-one-background,
.section-two-background,
.section-three-background,
.section-four-background {
  padding-top: 20px; /* NOTE: Removes space between divs */
}

.section-one-background h3,
.section-two-background h3,
.section-three-background h3,
.section-four-background h3 {
  width: 100%;
  text-align: center;
  font-size: 200%;
  margin: 0 0 0 0;
}

.exterior-section {
  width: 325px;
  padding: 0 10px 0 10px;
  flex: 1;
}

.img {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover; /* TODO: Add browser support (like banner) */
  margin: 0 auto;
}

.exterior-section .location,
.exterior-section .size,
.exterior-section .description {
  margin-top: 30px;
}

.section-two-background {
  background-color: rgb(28, 42, 74);
  color: white;
}

.youtube-container,
.section-four {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px 0 10px;
}

.iframe-container {
  position: relative;
  padding: 25px 0 56.25% 0;
  height: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* NOTE: For header */
}

.section-three-background {
  background-color: rgb(35, 51, 82);
  color: white;
}

.icon-container {
  margin: 0 10px 0 10px;
  padding-top: 10px;
  text-align: center;
}

.icon {
  font-size: 450%;
}

.section-four-background {
  background-color: white;
  padding-bottom: 20px;
}

.input-container {
  width: 100%;
  margin: 10px 0 10px 0;
  display: flex;
}

label {
  width: 200px;
  padding: 10px 0 10px 0;
}

input[type="text"],
input[type="email"],
textarea {
  justify-content: flex-end;
  flex: 1;
  font-size: 100%;
  font-style: italic;
  padding: 10px;
}

textarea {
  font-family: inherit; /* Firefox */
  resize: vertical;
}

input[type="submit"] {
  text-decoration: none;
  border: none;
  background-color: blue;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 150%;
  text-align: center;
  margin-top: 20px;
}


@media only screen and (max-width: 1024px) {

  .banner {
    min-height: 0;
    height: 0;
    padding-top: 66%;
    position: static;
  }

  .banner-text {
    padding-bottom: 66%;
    font-size: 80%;
  }

  .banner::before {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: top;
  }

  .header-container {
    height: auto;
  }

  #company-logo {
    font-size: 60%; /* Make dynamic */
  }

  .company-toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-bar-items ul,
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-bar-items ul li {
    padding: 15px 0 15px 15px;
  }

  .nav-bar-items {
    display: none;
    margin-left: 0;
  }

  .Navbar__ToggleShow { /* TODO: Change name (scripts.js as well) */
    display: flex;      /* TODO: Add smooth animation and make bottom border appear */
  }

  .nav-link {
    padding-left: 0;
    font-size: 90%;
  }

  .nav-bar-toggle {
    align-self: flex-end;
    display: initial;
    cursor: pointer;
    align-self: center;
  }

  .section-one-background h3,
  .section-two-background h3,
  .section-three-background h3,
  .section-three-background h3{
    font-size: 160%
  }

  .section-one,
  .section-three,
  .section-four  {
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    padding: 0 10px 0 10px;
  }

  .exterior-section {
    width: 100%;
  }

  .img {
    width: 100%;
    background-position: center;
  }

  .youtube-container {
    max-width: 650px;
  }

  .input-container {
    flex-direction: column;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    margin: 10px 0 10px 0;
  }

}
