/* CSS Variables */
:root {}

html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 120%;
}

#header {
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: white;
}

.header-container {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  padding: 0;
  align-items: center;
  height: 60px;

  /* Removes user from highlighting header text */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#company-logo {
  color: black;
  padding-left: 15px;
}

.nav-bar-items {
  display: flex;
  margin-left: auto;
}

.nav-bar-items ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0 15px 0 0;
}

.nav-bar-items ul li {
  font-size: 120%;
}

.nav-link {
  text-decoration: none;
  padding-left: 40px;
}

.nav-bar-toggle {
  padding-right: 15px;
  display: none;
}

.banner {
  height: 100vh;
  width: auto;

  /* background: url("building-background1.jpg"); */
  background: linear-gradient(rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)),
  url("images/banner-background.jpg"); /* TODO: Switch into HTML */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner-text {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 200%;
}

.section-one {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-one-background {
  margin: 0 0 60px 0;
}

.section-one-background h3 {
  width: 100%;
  text-align: center;
  margin: 60px 0 30px 0;
  font-size: 200%;
}

.exterior-section {
  width: 325px;
  margin: 30px 10px 0 10px;
}

.img {
  width: 325px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover; /* TODO: Add browser support (like banner) */
  margin: 0 auto;
}

.exterior-section .location,
.exterior-section .size,
.exterior-section .description {
  margin-top: 30px;
}

.section-two-background {
  margin: 0 0 60px 0;
}


@media only screen and (max-width: 1024px) {

  .banner {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    z-index: -10;

    height: 0;
    padding-top: 66%;
  }

  .banner-text {
    font-size: 80%;
  }

  .banner-text h2 {
    padding-bottom: 66%;
  }

  .header-container {
    height: auto;
  }

  #company-logo {
    font-size: 60%; /* Make dynamic */
  }

  .company-toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
  }

  .nav-bar-items ul,
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-bar-items ul li {
    padding: 15px 0 15px 15px;
  }

  .nav-bar-items {
    display: none;
    margin-left: 0;
  }

  .Navbar__ToggleShow { /* TODO: Change name (scripts.js as well) */
    display: flex;      /* TODO: Add smooth animation and make bottom border appear */
  }

  .nav-link {
    padding-left: 0;
    font-size: 90%;
  }

  .nav-bar-toggle {
    align-self: flex-end;
    display: initial;
    cursor: pointer;
    align-self: center;
  }

  .section-one {
    flex-direction: column;
    align-items: center;
  }

  .exterior-section {
    width: 80%;
  }

  .img {
    width: 100%;
    background-position: center;
  }

}
