/* CSS Variables */
:root {}

html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#header {
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: white;
}

.header-container {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  padding: 0 10px 0 10px;
  font-family: sans-serif;
  align-items: center;

  /* Removes user from highlighting nav-link */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#company-logo {
  font-family: 'Monoton', cursive;
  color: black;
  background-color: red;
}

.nav-bar-items {
  display: flex;
  margin-left: auto;
}

.nav-bar-items ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-bar-items ul li {
  font-size: 120%;
}

.nav-link {
  text-decoration: none;
  padding-left: 40px;
}

.nav-bar-toggle {
  display: none;
}

.banner {
  height: 100vh;
  width: auto;

  background: url("building-background1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main {
  height: 200vh;
  width: 100%;
  background-color: blue;
  display: block;
}

@media only screen and (max-width: 1024px) {

  .banner {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;

    width: 100%;
    height: 0;
    padding-top: 66%;
  }

  .company-toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-bar-items ul,
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-bar-items {
    display: none;
    margin-left: 0;
  }

  .Navbar__ToggleShow { /* TODO: Change name */
    display: flex;
  }

  .nav-link {
    padding-left: 0;
  }

  .nav-bar-toggle {
    align-self: flex-end;
    display: initial;
    cursor: pointer;
    align-self: center;
  }

}
