/* CSS Variables */
:root {
}

/* TODO: Change the global highlight color */

body, html {
  margin: 0;
  height: 100%;
}

body {
  background-color: rgb(34, 34, 37);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgb(50, 50, 50);
}

#navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(34, 34, 37);
}

.navbar-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 1em;
  flex-grow: 1;
  text-align: center;
}

.banner {
  background-color: rgb(34, 34, 37);
  height: 100vh;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
}

.banner-container {
  text-align: center;
  color: white;
  display: inline-block;
  width: 100%;
}

.about {
  background-color: rgb(237, 238, 239);
  padding: 10% 5% 10% 5%;
}

.section-container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#projects {
  background-color: white;
  padding: 20px 0 20px 0;
}

.ios-project {
  background-color: white;
}

.ios-project img {
  max-width: 100%;
  height: auto;
}

.ios-project h3 {
  margin-top: 40px;
}

.ios-project p {
  padding: 0px 20px 0px 20px;
}

.web-projects {
  background-color: rgb(237, 238, 239);
  margin-top: 40px;
  padding: 40px 20px 40px 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-item {

}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.img-test {
  height: 250px;
  background: url("images/web-temp-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}


@media only screen and (min-width: 1024px) {

  .navbar-container {
    justify-content: flex-end;
    max-width: 1200px;
  }

  .nav-link {
    margin-right: 40px;
    flex-grow: initial;
    text-align: right;
  }

  .banner-container {
    font-size: 2em;
  }

  .about {
    padding: 50px 25px 50px 25px;
  }

  .section-container {
    max-width: 1000px;
  }

}
